/*  Import Google Fonts */

@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway|Source+Sans+Pro&display=swap');

/* General Styling*/
/* ========================================================================== */
 
*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: auto;
}

/*Main Styling*/
/* ========================================================================== */ 

body {
  font-family: 'Lato', sans-serif;
  background: #f4f4f4;
  
}

.container {
  width: 98%;
  max-width: 1024px;
  margin: 0px;
}

/*Heading Styles*/
/* ========================================================================== */








/*Navbar Styling*/
/* ========================================================================== */


.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 15px;
  overflow: hidden;
  background-color: #333;
}

.nav-center, nav-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-center * {
  padding: 5px 15px;
}

.nav-title {
  
}

/*Colors*/
/* ========================================================================== */ 

.red {
  background-color: red!important;
}

.blue {
  background-color: #051937!important;
}

/*.green {*/
/*  background-color: !important;*/
/*}*/

/*.yellow {*/
/*  background-color: !important;*/
/*}*/

/*.purple {*/
/*  background-color: !important;*/
/*}*/

/*.black {*/
/* background-color: !important; */
/*}*/

/*.white {*/
/*  background-color: !important;*/
/*}*/

/*.redTo {*/
/*  background-color: !important;*/S
/*}*/
/* ========================================================================== */ 



/*buttons*/
/* ========================================================================== */ 

button,.button {
  
}

/* ========================================================================== */ 



/* ========================================================================== */ 


/* ========================================================================== */ 

