@import url("https://fonts.googleapis.com/css?family=Material+Icons+Round");
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(318.32deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);
  display: flex;
  justify-content: space-around;
  place-items: center;
}

.tray-container {
  display: flex;
  justify-content: space-around;
  /*grid-auto-flow: column;*/
  padding: 16px;
  gap: 24px;
  -webkit-transform: scale(3);
          transform: scale(3);
  border-radius: 50px;
  background: -webkit-linear-gradient(302deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);
  background: -moz-linear-gradient(302deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);
  background: -o-linear-gradient(302deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);
  background: linear-gradient(32deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);
  /*box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;*/
  
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
}

.icon {
  width: 62px;
  height: 62px;
  position: relative;
  border-radius: 18px;
  padding: 2px;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin: 5px;
}

.icon .inner-icon {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  /*place-items: center;*/
}

.icon .inner-icon i {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-size: 32px;
  position: relative;
  color: rgba(201, 215, 230, 0.8);
  text-shadow: 2px 2px 2px #d6e1ef99, 0 0 0 #000, 2px 2px 2px #d6e1ef00;
}

.icon.active .inner-icon {
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #FFFFFF;
}

.icon.active .inner-icon i {
  color: black;
  text-shadow: 1px 1px 1px #d6e1ef99, 0 0 0 #000, 1px 1px 1px #d6e1ef00;
}
